header{
  background-color: #026aa7;
  height: 40px;
  position: relative;
  overflow: hidden;
  padding: 4px;
  z-index: 10;
}

body{
  background-color: rgb(0, 121, 191);
}

#tableros{
  color: white;
  background-color: hsla(0,0%,100%,.3);
  border: hsla(0,0%,100%,.3);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  
}

#iconoTrello{
  color: white;
  font-size: 14px;
}

#inputSearch{
  background-color: hsla(0,0%,100%,.3);
  border: hsla(0,0%,100%,.3);   
  height: 32px;
  border-radius: 3px;
  
}

#iconoBuscar{
  margin-left:-40px;
  color:  white;
}

#logoTrello{ 
 opacity: .5;
 width: 100px;
} 

#btnMas{
  background-color: hsla(0,0%,100%,.3);
  border: hsla(0,0%,100%,.3);
  color: white;
  border-radius: 3px;
  height: 33px;
  width: 35px;
}

#btnInfo{
  background-color: hsla(0,0%,100%,.3);
  border: hsla(0,0%,100%,.3);
  color: white;
  border-radius: 3px;
  height: 33px;
  width: 35px;
  margin-left: 3px;
}

@media (max-width: 750px){
  #btnInfo{
    display: none;
  }
} 

#btnCampana{
  background-color: rgba(236, 58, 14, 0.808);
  border: rgba(236, 58, 14, 0.808);
  color: white;
  border-radius: 3px;
  height: 33px;
  width: 35px;
  margin-left: 3px;
}

#btnUserBarra{
  border-radius: 25em;  
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  background-color: rgba(233, 223, 223, 0.788);
  border: rgba(165, 158, 158, 0.788);
  margin-left: 3px;
}

#textTablero{
  margin-left: 25px;
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #f6f6f6;
}

#iconoStar{
  margin-left: 25px;
  color: #f6f6f6;
  padding-top: 16px;
  padding-left: 30px;
  font-size: 12px;
}

#textReto{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #f6f6f6;
  margin-top: 12px;
  margin-left: 50px;
  display: block;
}

#iconoMaleta{
  color: #f6f6f6;
  margin-top: 16px;
  padding-left: 55px;
  font-size: 12px;
  display: block;
}

#textPrivado{
  font-family: Arial, Helvetica, sans-serif;
  color: #f6f6f6;
  margin-top: 12px;
  font-size: 14px;
  padding-left: 40px;
}

#btnUser{
  border-radius: 25em;
  margin-left: 85px;  
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  background-color: rgba(233, 223, 223, 0.788);
  border: rgba(165, 158, 158, 0.788);
}

@media (max-width: 414px){
  #btnUser{
    margin-top: 40px;
    margin-left: -180px;
  }
}

#logoUser{
  margin-left: 85px;
  font-size: 30px;
  margin-top: 5px;
  color: hsla(0,0%,100%,.3); 
}

@media (max-width: 414px){
  #logoUser{
    margin-top: 40px;
    margin-left: -180px;
  }
}

#puntos{
  color: white;
  font-size: 12px;
  margin-top: -95px;
  padding-top: 62px;  
  cursor: pointer;
} 

#menu{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #f6f6f6;
 margin-top: -40px;
 margin-left: 90px;
 text-decoration: underline; 
 cursor: pointer;
}


#anadirLista{
  color: white;
  background-color: #026aa7;
  border: #026aa7;
}

#anadirLista{
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #026aa7;
  border: #026aa7; 
  text-align: left;
  margin-top: -5px;
  color: hsla(0,0%,100%,.7);
}

#tituloLista{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  width: 267px;
  margin-left: 6px;
  border:  rgb(0, 121, 191); 
}

#botonAnadirLista{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 32px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: white;
  background-color: #5aac44;
  /* cambia de color al poner cursor encima: #519839; */
}

.oculto{
  display: none !important;
}

.card-white{
  background-color: #e2e4e6;
  border-radius: 5px;
  margin-left: 3px; 
  padding-top: 5px;
  width: 280px;
}

.tituloTarjetas{
  width: 255px;
  margin-left: 5px;
  margin-top: -15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  
}

.botonAnadirTarjetas{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5aac44;
  color: white;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.contenedorInterno{
  color: grey;
}

.titulo{
  margin-top: -7px;
  padding-left: 20px;
  font-weight: bold;
}

.contenedorOpciones{
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.fondoColumna{
  padding: 15px;
}

.columna{
  border-radius: 10px;
  padding-right: 0px;
  margin-right: -10px;
  max-width: 280px;
}

.nuevaTarea{
  background-color: white;
  border-radius: 5px;
  margin-left: -8px;
  margin-top: 8px;
  width: 255px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.anadirTarjeta{
  cursor: pointer;
  user-select: none;
  margin-top: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(140, 140, 140);  
}
.anadirTarjeta:hover{
  text-decoration: underline;
}

#iconoX{
  color: #999;
  font-size: 22px;
  margin-left: 135px;
  margin-top: -38px;
  padding-bottom: 10px;
  cursor: pointer;  
  font-family: Arial, Helvetica, sans-serif;
}